 /* I know it's very basic and boring, but it's a start! Once I play around with CSS a bit more I can add to this :) */ 

body {
    background-color: lightgray;
  }
  
  h1, h2 {
    color: darkgray;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  }

  h3{
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  p {
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  }

